@import "tailwindcss";

:root {
  --color-background: white;
  --color-foreground: black;
}

html.dark {
  --color-background: black;
  --color-foreground: white;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
